@import url("https://fonts.googleapis.com/css2?family=Freehand&family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");

:root {
  --color-dark-1: #000000;
  --color-dark-2: #b8c2ce;
  --color-light-1: #ffffff;
  --color-light-2: #ebeef3;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  background-color: var(--color-light-2);
}
.logo {
  font-family: "Freehand", cursive;
  color: var(--color-dark-1);
  font-size: 20px;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}

.container {
  max-width: 114rem;
  margin: 0 auto;
  padding: 0rem 1.5rem;
}
/* Navbar */
.nav{
  width: 100%;
  background-color: var(--color-light-1);
  height: 7.5rem;
}
.nav_container{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav_list{
  display: flex;
}
.nav_item{
  margin: 0rem 0.5rem;
}
.nav_link{
  padding: 10px;
  font-size: 17px;
}
.btn{
  padding: 1rem;
}
.nav_btn{
  background-color: var(--color-dark-2);
  color: var(--color-dark-1);
  border-radius: 0.5rem;
}
/* header */
.header{
  width: 100%;
  height: 108vh;
  background-image: url(../images/header-bg.png);
  background-size: cover;
  background-position: center center;
}
.header_container{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-gap: 6rem;
}
.header_left{
  align-self: center;
}
.header_right{
  justify-self: right;
}
.header_news_card{
  width: 20rem;
  height: 22rem;
  position: relative;
}
.header_news_img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}